<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="c-navigation__item {% if page.url == '/products/' %}is-active{% endif %}" href="{{ "/products/" | prepend: site.baseurl }}">Products</a>
    <a class="c-navigation__item {% if page.url == '/showcase/' %}is-active{% endif %}" href="{{ "/showcase/" | prepend: site.baseurl }}">Showcase</a>
    <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <a class="c-navigation__item" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>
  </div>
</nav>
